.trans{
    background-color: transparent;
    outline: none;
    border: none;
    transition: transform 0.3s ease;
}

.trans:hover{
    background-color:  transparent;
    transform: scale(1.4); 

}